.wrap-logo {
  height: 64px;
  line-height: 64px;
  background-color: #fff;
}

.logo {
  width: 80px !important;
  height: auto;
}

.ant-layout-header {
}

/*

.logo {

}
 */

/*  .logo {
  height: 64px;
  line-height: 64px;
  background-color: #fff;
} */
.content-main {
  padding: 24px;
  min-height: 360px;
  background-color: #fff;
}

/* Reset */
.ant-layout-header {
  height: 64px;
  background: #ffffff;
  background-color: #fff !important;
}

/* .ant-layout-sider {
  background: #ffffff ;
  
}
.ant-layout-sider-trigger {
  background: #bcbcbc !important;
} */

/*  .ant-layout-header {
  background: #fff !important;   background-color: #008b8b;
  color: #fff !important;
} */
/* 
.logo {
  height: 64px;
  line-height: 64px;
  background-color: #fff;
}



.top-menu > .ant-space .anticon-down svg {
  width: 10px;
  height: auto;
  margin-top: -4px;
}


 */

.ant-menu-light .ant-menu-item:hover,
.ant-menu-light .ant-menu-item-active,
.ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-light .ant-menu-submenu-active,
.ant-menu-light .ant-menu-submenu-title:hover {
  color: #3f3f3f !important;
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid #ff7838;
}

.ant-avata > .anticon svg {
  margin-top: -9px;
}

/* .top-menu > .ant-space .ant-avatar {
  background-color: rgba(0, 0, 0, 0.15);
}





.ant-avatar-sm {
  line-height: 14px;
}





.top-menu {
  font-size: 14px;
  background-color: #fff !important;
}
  */
/* .top-menu > .ant-space .ant-typography {
  color: #fff;
  color: #d5d5d5;
}
 */
